<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDQuR93EtWumWafGknl9CgjUTSNhV1kktw</string>
	<key>GCM_SENDER_ID</key>
	<string>603035276755</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.copy</string>
	<key>PROJECT_ID</key>
	<string>nearbyplaces-787dc</string>
	<key>STORAGE_BUCKET</key>
	<string>nearbyplaces-787dc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:603035276755:ios:e6219f859b8f43e0324b26</string>
</dict>
</plist>